<mgl-map
  [style]=this.mapStyle
  [zoom]=[this.mapZoom]
  [center]="[activeUserLng, activeUserLat]"
  (mapLoad)="mapReady($event)"
>
  <div *ngFor="let notary of notaries$ | async; let i = index;">
    <mgl-marker #notaryMarker [lngLat]="[notary.coordinates.lng, notary.coordinates.lat]">
      <div (click)="focusNotary(notary)"
           [attr.data-sectionvalue]="notary.id"
           [ngStyle]="{
      'background-image':
        'url(https://media.istockphoto.com/id/1321765738/vector/legal-paper-line-icon.jpg?s=612x612&w=0&k=20&c=TYXgaVxpYQL0-Psvmw8NrioW70lmUsDYnaeqqyKqEik=)',
      'background-size': 'cover',
      width: '50px',
      height: '50px',
      'border-radius': '50%',
      cursor: 'pointer'
      }"></div>
    </mgl-marker>
    <mgl-popup [marker]="notaryMarker">
      <div class="marker-container" (click)="onNotaryClick(notary)">
        {{notary.name}}
        <hr style="margin: 0">
        <div [ngStyle]="{'text-align': 'center'}">
          <span><i>Notary</i></span>
        </div>
      </div>
    </mgl-popup>
  </div>
  <div *ngFor="let translator of translators$ | async; let i = index;">
    <mgl-marker #translatorMarker [lngLat]="[translator.coordinates.lng, translator.coordinates.lat]">
      <div (click)="focusTranslator(translator)"
           [attr.data-sectionvalue]="translator.id"
           [ngStyle]="{
      'background-image':
        'url(https://c8.alamy.com/comp/2E3P183/multilingual-english-different-flat-translate-icon-language-service-logo-2E3P183.jpg)',
      'background-size': 'cover',
      width: '50px',
      height: '50px',
      'border-radius': '50%',
      cursor: 'pointer'
      }"></div>
    </mgl-marker>
    <mgl-popup [marker]="translatorMarker">
      <div class="marker-container" (click)="onTranslatorClick(translator)">
        {{translator.name}}
        <hr style="margin: 0">
        <div [ngStyle]="{'text-align': 'center'}">
          <span><i>Translator</i></span>
        </div>
      </div>
    </mgl-popup>
  </div>
  <mgl-control mglNavigation position="top-right"></mgl-control>
</mgl-map>

<div class="popup-info-container" *ngIf="this.showNotaryPopupInfo">
  <app-notar-popup-info [notary]="selectedNotary" (closeEvent)="onClosePopupInfo()"></app-notar-popup-info>
</div>

<div class="popup-info-container" *ngIf="this.showTranslatorPopupInfo">
  <app-translator-popup-info [translator]="selectedTranslator"
                             (closeEvent)="onClosePopupInfo()"></app-translator-popup-info>
</div>

<div class="popup-info-container" *ngIf="this.showAdvancedSearchDialog">
  <app-search-dialog (closeEvent)="onClosePopupInfo()"></app-search-dialog>
</div>

<div class="advanced-search" mat-ripple="" (click)="advancedSearchDialog()">
  <div>
    <button mat-ripple="" mat-icon-button [disableRipple]="true">
      Advanced search <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

