:host {
  display: flex;
  flex: 1;
}
mgl-map {
  height: 100%;
  width: 100%;
}

.marker-container {
  padding: 0.5rem;
  cursor: pointer;
}

.marker-more {
  margin-top: 0.25rem;
  text-align: end;
}

.cursor-pointer {
  cursor: pointer;
}
//mapboxgl-marker {
//  width: 25px;
//  height: 25px;
//  border-radius: 50%;
//  border:1px solid gray;
//  background-color:lightblue;
//}
