<div class="popup-info-content">
  <mat-card>
    <div class="d-flex justify-content-end">
      <span class="cursor-pointer"><fa-icon [icon]="faXmark" (click)="close()"></fa-icon></span>
    </div>
    <mat-card-header class="text-center" [ngStyle]="{'justify-content': 'center'}">
      <mat-card-title>
        <div>Advanced search</div>
      </mat-card-title>
      <mat-card-subtitle>Filter by various properties</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="d-flex justify-content-center flex-column align-items-center" style="margin: 2rem">
      <div class="advanced-search-input">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="selections.selectedName" (ngModelChange)="onNameChange($event)">
        </mat-form-field>
      </div>

      <ng-container *ngIf="availableOptions | async as options">
        <div class="advanced-search-input">
          <mat-form-field appearance="fill">
            <mat-label>Counties</mat-label>
            <mat-select [(value)]="selections.selectedCounties" (valueChange)="onCountiesChange($event)">
              <mat-option *ngFor="let county of options.county" [value]="county">{{county}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="advanced-search-input">
          <mat-form-field appearance="fill">
            <mat-label>Languages</mat-label>
            <mat-select [(value)]="selections.selectedLanguages" (valueChange)="onLanguagesChange($event)">
              <mat-option *ngFor="let language of options.languages"
                          [value]="language">{{language}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="advanced-search-input">
          <mat-form-field appearance="fill">
            <mat-label>Services</mat-label>
            <mat-select [(value)]="selections.selectedServices" (valueChange)="onServicesChange($event)">
              <mat-option *ngFor="let service of options.services" [value]="service">{{service}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button mat-raised-button color="primary" (click)="search()">Search</button>
      <button mat-raised-button color="warn" (click)="clearSelections()">Clear</button>
    </mat-card-actions>

  </mat-card>
</div>
